.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title"
      "img img summary"
      "img img summary"
      "buttons buttons buttons"
      "user_reviews user_reviews user_reviews";
  }
  
  .title { grid-area: title; }
  
  .img { grid-area: img; }
  
  .summary { grid-area: summary; }
  
  .buttons { grid-area: buttons; }
  
  .user_reviews { grid-area: user_reviews; }
  